/* 
https://colorhunt.co/palette/273933 
  lighbluegray: #bfcba8 
  turqoisegray: #5b8a72 
  bluegray:     #56776c 
  darkbluegray: #464f41 
*/


/* TYPO ------------------------------------- */
h1, h2, h3, h4, h5, h6 { 
  margin: 0; 
}

h1 { 
  font-size: 1.5em; 
  color: #56776c; 
} 
h2 { font-size: 1.3em; } 
h3 { font-size: 1.1em; } 
h4 { font-size: 1em; } 
h5 { font-size: 1em; } 
h6 { font-size: 1em; } 

em { 
  color: black; 
  font-weight: bold; 
}

a { 
  color: black; 
  text-decoration: underline; 
} 
a:hover { text-decoration: none; } 

p {
  margin:0;
  margin-bottom:1em;
}

/* GENERAL ------------------------------------- */
body { 
  max-width: 40em; 
  /*background-color: #bfcba8; */
} 

main { 
  margin: 1em; 
} 

ul { 
  margin:0em; 
  padding-left: 1.5em; 
} 

li { 
 list-style: circle; 
} 



/* SECTION ------------------------------------------- */
section { 
  margin-top:1em; 
  margin-bottom:2em; 
}

section h2 { 
  color: #464f41 ; 
  font-weight: 400; 
  border-bottom: 1px dashed #464f41; 
}

section .fromto { 
  float: right; 
  font-weight: lighter; 
  font-size: small; 
  font-style: oblique; 
}

section .fromto::after { 
  clear: both; 
}

.technical { 
  font-size: small; 
  font-weight: bold; 
  color: gray; 
  margin-left: 0.3em; 
  padding-left: 0.2em; 
  padding-right: 0.2em; 
} 

.technical span { 
  border-radius: 4px; 
  margin-left: 0.3em; 
  padding-left: 0.2em; 
  padding-right: 0.2em; 
}


/* CV PAGE ---------------------------------------- */
.printableCv { 
  font-size: smaller; 
  /*text-align: right;*/
}

.cvAnchors li { 
  font-size: smaller; 
  list-style: none; 
} 


/* NAVIGATION ------------------------------------- */
nav { 
  /*background-color: gainsboro; */
  padding: 1em; 
  text-align: right; 
  border-bottom: 1px solid #bfcba8; 
  margin: 1em; 
} 

nav span { 
  margin-left:1em; 
  text-shadow: 1em; 
  font-weight: bolder; 
} 




/* FOOTER ------------------------------------- */
footer { 
  border-top: 1px solid #bfcba8; 
  margin: 1em; 
  text-align: center; 
}