/* TYPO ------------------------------------- */
h1, h2, h3, h4, h5, h6 { 
  margin: 0; 
}

h1 { font-size: 1.5em; } 
h2 { font-size: 1.3em; } 
h3 { font-size: 1em; } 
h4 { font-size: 1em; } 
h5 { font-size: 1em; } 
h6 { font-size: 1em; } 

/* GENERAL ------------------------------------- */
main { 
  margin: 1em; 
}

ul { 
  margin:0em; 
  padding-left: 1.5em; 
} 

li { 
 list-style: circle; 
}



/* SECTION ------------------------------------------- */
section { 
  margin-top:1em; 
  margin-bottom:1em; 
}

section h2 { 
  color: black; 
  font-weight: 400; 
  border-bottom: 1px dashed gray; 
}

section .fromto { 
  float: right; 
  font-weight: 400; 
  font-size: smaller; 
  font-style: oblique; 
}

section .fromto::after { 
  clear: both; 
}



/* NAVIGATION ------------------------------------- */
nav { 
  /*background-color: gainsboro; */
  padding: 1em; 
  text-align: right; 
  border-bottom: 1px solid black; 
  margin: 1em; 
} 

nav span { 
  margin-left:1em; 
  text-shadow: 1em; 
  font-weight: bolder; 
} 

nav a:hover { 
  text-decoration: none; 
} 

/*nav a: { 
  color: aqua; 
}*/

nav a { 
  color: black; 
  text-decoration: underline; 
}


/* FOOTER ------------------------------------- */
footer { 
  border-top: 1px solid black; 
  margin: 1em; 
}